openai-whisper
transformers>=4.46.0,<5
peft>=0.14.0
accelerate>=1.2.1
optimum-quanto>=0.2.6
bitsandbytes>=0.46.0
sentencepiece>=0.2.0
pydantic>=2.10.4
pyyaml
pillow-heif
imageio>=2.37.0
imageio-ffmpeg>=0.6.0
safetensors>=0.5.0
scenedetect>=0.6.5.2
av>=14.2.1
psutil
einops
insightface
onnxruntime-gpu
